{{ form_start(form) }}

    <div class="mb-3">
        {{ form_label(form.username, 'Username', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.username) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.phonenumber, 'Phone', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.phonenumber, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.phonenumber) }}
    </div>

{{ form_end(form) }}